@model IEnumerable<Client.Models.Province>

@{
    ViewData["Title"] = "Provinces";
}

<div class="my-3 d-md-flex justify-content-evenly">
    <div class="flex-grow-1 display-6 text-sm-center text-primary opacity-75">Province List</div>
    <div class="text-end">
        <a asp-controller="Province" asp-action="Create" class="btn btn-primary">New Province</a>
    </div>
</div>

@if (Model.Count() < 1) {
    <h2 class="display-6 mt-3 text-center text-danger">There not are provinces yet</h2>
} else {
    <div class="table-responsive">
        <table class="table table-dark table-striped table-hover">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(m => m.Name)</th>
                    <th>@Html.DisplayNameFor(m => m.Country)</th>
                    <th>Mantainers</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model) {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Country.Name</td>
                        <td>
                            <a asp-controller="Province" asp-action="Edit" asp-route-Id="@item.Id" class="btn btn-primary">Edit</a>
                            <a asp-controller="Province" asp-action="Details" asp-route-Id="@item.Id" class="btn btn-secondary">Details</a>
                            <a asp-controller="Province" asp-action="Delete" asp-route-Id="@item.Id" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@section scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
